@charset "UTF-8";
/*****************************************************************************/
/*
/* Tufte Jekyll blog theme
/* Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
/*
/* The README.md will show you how to set up your site along with other goodies
/*****************************************************************************/
@font-face {
  font-family: et-book;
  src: url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: et-book;
  src: url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: et-book;
  src: url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbemboromanosf") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: et-bookRomanOldStyle;
  src: url("/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbemboromanosf") format("svg");
  font-weight: normal;
  font-style: normal; }
/* This file contains all the constants for colors and font styles */

* {
  margin: 0;
  padding: 0; }

/* clearfix hack after Cederholm (group class name) */
.group:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  margin-bottom: 6rem; }

html {
  text-align: baseline;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media screen and (min-width: 800px) {
  html {
    font-size: 11px; } }
@media screen and (min-width: 900px) {
  html {
    font-size: 12px; } }
@media screen and (min-width: 1000px) {
  html {
    font-size: 13px; } }
@media screen and (min-width: 1100px) {
  html {
    font-size: 14px; } }
@media screen and (min-width: 1200px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 1300px) {
  html {
    font-size: 16px; } }
.mathblock {
  font-size: 1.3rem; }

a {
  color: #a050a0;
  text-decoration: none; }

p > a {
  color: #a050a0;
  text-decoration: none; }

body {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #ffffff;
  color: #494e52;
  counter-reset: sidenote-counter; }

#content
{ width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 12.5%; }

p > code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px 4px;
  margin: 0 2px; }

h1 {
  font-weight: 400;
  margin-top: 1.568rem;
  margin-bottom: 1.568rem;
  font-size: 2.5rem;
  line-height: 0.784; }

h2 {
  margin-top: 1.866666666666667rem;
  margin-bottom: 0;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 0.933333333333333; }

h3 {
  font-size: 1.8rem;
  margin-top: 2.1777777777777778rem;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.08888888888889; }

h4 {
  font-size: 1.5rem;
  margin-top: 2.4888888888888889rem;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.24444444444444; }

h2, h3, h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

sub, sup
{ font-size: 0.8rem;
  letter-spacing: -2px; }

p .subtitle {
  font-style: italic;
  margin-top: 2.1777777777777778rem;
  margin-bottom: 2.1777777777777778rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1.08888888888889; }

p, ol, ul {
  font-size: 1.4rem; }

p, li {
  line-height: 2rem;
  margin-top: 1.4rem;
  padding-right: 2rem;
  vertical-align: baseline; }

blockquote p {
  font-size: 1.1rem;
  line-height: 1.78181818;
  margin-top: 1.78181818rem;
  margin-bottom: 1.78181818rem;
  width: 45%;
  padding-left: 2.5%;
  padding-right: 2.5%; }

blockquote footer {
  width: 45%;
  text-align: right; }

.sans {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  letter-spacing: .03em; }

pre, pre code, p code, p pre code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.71428571;
  margin-top: 1.71428571rem; }

h1 code, h2 code, h3 code {
  font-size: 0.80em; }

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/
table, table.booktabs {
  width: auto;
  border-spacing: 0px;
  margin-top: 24px;
  /* margin: 0 auto;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333; */ }

.booktabs th, th {
  border-bottom: 1px solid #333333;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal;
  text-align: center; }

th, td {
  font-size: 1.2rem;
  line-height: 1.71428571; }

.booktabs th.cmid, th {
  border-bottom: 1px solid #737373; }

.booktabs th.nocmid {
  border-bottom: none; }

.booktabs tbody tr:first-child td, tr:first-child td {
  padding-top: 0.65ex; }

/* add space between thead row and tbody */
.booktabs td, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left; }

.booktabs caption, caption {
  font-size: 90%;
  text-align: left;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1ex;
  caption-side: top; }

.booktabs tbody tr td.l {
  text-align: left !important; }

.booktabs tbody tr td.c {
  text-align: center !important; }

.booktabs tbody tr td.r {
  text-align: right !important; }

.table-caption {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.96; }

/* -- End of Table Styling section --*/
/* Basic Layout stuff --*/
article {
  position: relative;
  padding: 1 rem 0rem 2.5rem 0rem; }

section {
  padding-top: 1rem;
  padding-bottom: 1rem; }

ul, ol {
  /* width: 45%; */
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
  /* font-size: 0.9rem; */
  margin-left: 1em;
}

figure, figure img.maincolumn {
  max-width: 60%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-bottom: 3em; }

figcaption {
  float: right;
  clear: right;
  margin-right: -48%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%; }

figure.fullwidth figcaption {
  float: left;
  margin-right: 0%;
  margin-left: 36%; }

img {
  max-width: 100%; }

.sidenote, .marginnote {
  float: right;
  clear: right;
  margin-right: -45%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 1.96rem;
  font-size: 1.0rem;
  line-height: 1.96;
  vertical-align: baseline;
  position: relative; }

li .sidenote, li .marginnote {
  margin-right: -80%; }

blockquote .sidenote, blockquote .marginnote {
  margin-right: -79%; }

.sidenote-number {
  counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before {
  content: counter(sidenote-counter) " ";
  font-family: et-bembo-roman-old-style;
  color: #a050a0;
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem; }

.sidenote:before {
  content: counter(sidenote-counter) ". ";
  color: #a050a0;
  top: 0rem; }

footer
{ margin-top: 2rem;
  margin-right: 6rem;
  padding-bottom: 1rem;
  border-top: 1px solid #aaa; }

footer p {
  font-size: 0.7em;
  font-style: italic;
  margin-top: 0;
  width: 100%; }

p, div.table-wrapper, div.mathblock {
  width: 60%; }

div.table-wrapper {
  overflow-x: auto; }

@media screen and (max-width: 760px) {
  p, footer, div.mathblock {
    width: 90%; }

  pre code {
    width: 87.5%; }

  ul {
    width: 85%; }

  figure {
    max-width: 90%; }

  figcaption, figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none; }

  blockquote p, blockquote footer {
    width: 80%;
    padding-left: 5%;
    padding-right: 5%; } }
.marginnote code, .sidenote code {
  font-size: 1rem; }

pre {
  width: 50%;
  padding-left: 2.5%;
  overflow-x: auto; }

.fullwidth, li.listing div {
  max-width: 90%; }

.full-width .sidenote, .full-width .sidenote-number, .full-width .marginnote {
  display: none; }

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
  letter-spacing: 0.05rem; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

header nav.group div#menu
{ style="float: right"; }

@media (max-width: 760px) {
  #photobanner
  { height: 30vh !important;
    background-size: 90vw !important;
  }

  #minimalbanner
  { height: 48px !important; }

  #minimalbanner .highlight, #photobanner .hightlight
  { overflow-x: hidden !important; }

  .post_item, article
  { overflow-x: hidden !important; }

  header nav.group
  { width: 100% !important; }

  header nav.group div#menu
  { width: 100% !important; }

  header nav.group div#menu a
  { font-size: 100% !important; }

  #minimalbanner .sourceCode, #photobanner .sourceCode
  { font-size: 0.7rem; }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
    color: #a050a0; }

  .sidenote, .marginnote {
    display: none; }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }

  label {
    cursor: pointer; }

  pre, pre code, p code, p pre code {
    width: 90%;
    padding: 0; }

  .table-caption {
    display: block;
    float: right;
    clear: both;
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: baseline;
    position: relative; }

  div.table-wrapper, table, table.booktabs {
    width: 85%; }

  div.table-wrapper {
    border-right: 1px solid #efefef; }

  img {
    max-width: 100%; } }
/*--- End of Basic Layout stuff from tufte.css ---*/
/* -- Jekyll specific styling --*/
.contrast {
  color: #a050a0; }

.smaller {
  font-size: 80%; }

section.header
{ font-style: italic; }

header > nav.group {
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 1rem; }

nav.group a.active:before {
  content: "〖 "; }

nav.group a.active:after {
  content: " 〗"; }

a#commentlink
{ padding-bottom: 2rem;
  cursor: pointer;
}

a#commentlink, header > nav a {
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #a050a0;
  padding-top: 1.5rem;
  text-decoration: none;
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 2rem;
  vertical-align: baseline; }

header > nav a img {
  height: 5rem;
  position: relative;
  max-width: 100%;
  top: -1.5rem; }

ul.footer-links, .credits {
  list-style: none;
  text-align: center;
  margin: 0 auto; }

ul.footer-links li {
  display: inline;
  padding: 0.5rem 0.25rem; }

.credits {
  padding: 1rem 0rem; }

.credits {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif; }
  .credits a {
    color: #a050a0; }

body.full-width, .content-listing, ul.content-listing li.listing {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 5%; }

.full-width article p {
  width: 90%; }

h1.content-listing-header {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.8rem; }

li.listing hr {
  width: 100%; }

.listing, .listing h3 {
  display: inline-block;
  margin: 0; }

li.listing {
  margin: 0; }
  li.listing p {
    width: 100%; }

li.listing:last-of-type {
  border-bottom: none;
  margin-bottom: 1.4rem; }

li.listing h3.new {
  text-transform: uppercase;
  font-style: normal; }

hr.slender {
  border: 0;
  height: 1px;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

@media screen {
  .print-footer {
    display: none; } }
@media print {
  * {
    -webkit-transition: none !important;
    transition: none !important; }

  *,
  *:before,
  *:after {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.75in 0.5in 0.75in 0.5in;
    orphans: 4;
    widows: 2; }
  body {
    font-size: 12pt; }

  html body span.print-footer {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 9pt;
    margin-top: 22.4pt;
    padding-top: 4pt;
    border-top: 1px solid #000; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 4;
    widows: 4; }

  article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
    page-break-after: avoid; }

  body header, body footer {
    display: none; } }
/* --- Icomoon icon fonts CSS --*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rgwlb8");
  src: url("../fonts/icomoon.eot?#iefixrgwlb8") format("embedded-opentype"), url("../fonts/icomoon.woff?rgwlb8") format("woff"), url("../fonts/icomoon.ttf?rgwlb8") format("truetype"), url("../fonts/icomoon.svg?rgwlb8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #a050a0;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-pencil:before {
  content: "\e600"; }

.icon-film:before {
  content: "\e60f"; }

.icon-calendar:before {
  content: "\e601"; }

.icon-link:before {
  content: "\e602"; }

.icon-info:before {
  content: "\e603"; }

.icon-cancel-circle:before {
  content: "\e604"; }

.icon-checkmark-circle:before {
  content: "\e605"; }

.icon-spam:before {
  content: "\e606"; }

.icon-mail:before {
  content: "\e607"; }

.icon-googleplus:before {
  content: "\e608"; }

.icon-facebook:before {
  content: "\e609"; }

.icon-twitter:before {
  content: "\e60a"; }

.icon-feed:before {
  content: "\e60b"; }

.icon-flickr:before {
  content: "\e60c"; }

.icon-github:before {
  content: "\e60d"; }

.icon-box-add:before {
  content: "\e60e"; }

/*-- End of Icomoon icon font section --*/

#photobanner, #minimalbanner
{ margin-top: 0;
  margin-left: 0;
  width: calc(100vw - 2em);
  font-size: 1.2rem;
  padding-left: 2em;
  padding-top: 1em; }

#photobanner
{ height:60vh;
  background-image: url(/images/me.jpg);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: black;
  color: white; }

#minimalbanner
{ height:160px;
  padding-bottom: 10px; }

#disqus_thread
{ width: 60%; }

.post_item
{ margin-bottom: 6rem; }

.post_item a
{ color: black; }


#photobanner .sourceCode, #minimalbanner .sourceCode
{ background: none; }

a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; left: -4em; }
pre.numberSource a.sourceLine::before
  { content: attr(title);
    position: relative; left: -1em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all; display: inline-block;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
  }
pre.numberSource { margin-left: 3em;  padding-left: 4px; }
div.sourceCode
  { color: #666666; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span.al { color: #ffcfaf; } /* Alert */
code span.an { color: #7f9f7f; font-weight: bold; } /* Annotation */
code span.at { } /* Attribute */
code span.bn { color: #dca3a3; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #f0dfaf; } /* ControlFlow */
code span.ch { color: #dca3a3; } /* Char */
code span.cn { color: #dca3a3; font-weight: bold; } /* Constant */
  code span.co { color: #afafaf; } /* Comment */
code span.cv { color: #7f9f7f; font-weight: bold; } /* CommentVar */
code span.do { color: #7f9f7f; } /* Documentation */
  code span.dt { color: #6f4f6f; font-weight: bold; } /* DataType */
code span.dv { color: #dcdccc; } /* DecVal */
code span.er { color: #c3bf9f; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #c0bed1; } /* Float */
  code span.fu { color: #706070; } /* Function */
code span.im { } /* Import */
code span.in { color: #7f9f7f; font-weight: bold; } /* Information */
code span.kw { color: #f0dfaf; } /* Keyword */
code span.op { color: #f0efd0; } /* Operator */
  code span.ot { color: #706070; } /* Other */
code span.pp { color: #ffcfaf; font-weight: bold; } /* Preprocessor */
code span.sc { color: #dca3a3; } /* SpecialChar */
code span.ss { color: #cc9393; } /* SpecialString */
code span.st { color: #cc9393; } /* String */
code span.va { } /* Variable */
code span.vs { color: #cc9393; } /* VerbatimString */
code span.wa { color: #7f9f7f; font-weight: bold; } /* Warning */

#photobanner div.sourceCode { color: #dddddd; }
#photobanner code span.co { color: #7f7f7f; } /* Comment */
#photobanner code span.dt { color: #bf9fbf; font-weight: bold; } /* DataType */
#photobanner code span.ot { color: #a090a0; } /* Comment */
#photobanner code span.fu { color: #a090a0; } /* Comment */

